<div th:fragment="footerbodyContent">
    <nav class="layout-footer footer bg-white">
        <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
            <div class="pt-3">
            </div>
            <div>
                <a href="https://www.youtube.com/watch?v=wxAZfLenfa0" target="_helf" class="footer-link pt-3">About Us</a>
                <a href="https://www.youtube.com/watch?v=rb8z2BMrd60" target="_helf" class="footer-link pt-3 ml-4">Help</a>
            </div>
        </div>
    </nav>
</div>
