<div th:fragment="scriptContent">
    <!-- Core scripts -->
    <script th:src="@{/static/js/pace.js}"></script>
    <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/static/libs/popper/popper.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/sidenav.js}"></script>
    <script th:src="@{/static/js/layout-helpers.js}"></script>
    <script th:src="@{/static/js/material-ripple.js}"></script>

    <!-- Libs -->
    <script th:src="@{/static/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
    <script th:src="@{/static/libs/eve/eve.js}"></script>
    <script th:src="@{/static/libs/flot/flot.js}"></script>
    <script th:src="@{/static/libs/flot/curvedLines.js}"></script>
    <script th:src="@{/static/libs/chart-am4/core.js}"></script>
    <script th:src="@{/static/libs/chart-am4/charts.js}"></script>
    <script th:src="@{/static/libs/chart-am4/animated.js}"></script>

    <!-- Demo -->
    <script th:src="@{/static/js/demo.js}"></script>
    <script th:src="@{/static/js/analytics.js}"></script>
    <script th:src="@{/static/js/pages/dashboards_index.js}"></script>
</div>
